@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";
@source "select2-tailwindcss-v4-theme/dist/select2-tailwindcss-theme.css";
@source "../../node_modules/flowbite";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-primary: #057291;
    --color-primary-300: #057391e7;
    --color-border: #05739128;
}

[data-accordion] button[aria-expanded="true"] {
    @apply bg-primary text-white;
}

[data-accordion] button[aria-expanded="false"] {
    @apply bg-primary text-white;
}

[data-tabs-toggle] button[aria-selected="true"] {
    @apply text-primary border-primary cursor-pointer;
}

[data-tabs-toggle] button[aria-selected="false"] {
    @apply cursor-pointer hover:text-primary hover:border-primary;
}
